<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FourThingsPlus</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
<div id="y-axis"></div>
<header>
    <nav>
        <div id="login-name"><p id="name">Signe & Elias</p></div>
            <div id="logo">
                <p id="title">Four Things Plus</p>
                <p id="slogan">Free up your mind</p>
            </div>
        <div id="burger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <p><label for="add-input">New item</label></p>
        <input type="text" id="add-input">
        <button type="submit" id="add-btn">Add</button>

        <h1>Doing</h1>
        <table>
            <tr>
                <th>Item</th>
                <th>Action</th>
                <th></th>
            </tr>
            <tr class="odd">
                <td class="item">Cup noodles</td>
                <td>
                    <button type="submit">Done</button>
                </td>
                <td>
                    <button type="submit" class="remove-btn">Remove</button>
                </td>
            </tr>
            <tr class="even">
                <td class="item">Chocolate</td>
                <td>
                    <button type="submit">Done</button>
                </td>
                <td>
                    <button type="submit" class="remove-btn">Remove</button>
                </td>
            </tr>
        </table>

        <h1>Done</h1>
        <table>
            <tr>
                <th>Item</th>
                <th>Action</th>
                <th></th>
            </tr>
            <tr class="odd">
                <td class="item">Rice</td>
                <td>
                    <button type="submit">Undo</button>
                </td>
                <td>
                    <button type="submit" class="remove-btn">Remove</button>
                </td>
            </tr>
            <tr class="even">
                <td class="item">Spaghetti</td>
                <td>
                    <button type="submit">Undo</button>
                </td>
                <td>
                    <button type="submit" class="remove-btn">Remove</button>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <button type="submit" id="log-out">Log out</button>
    </div>
</main>
</body>
</html>